.nav-item:hover{
    background-color: lightgrey;
}

.background{
    background-color: rgb(13, 186, 230);
}

.card{
    transform: translateY(0px);
    box-shadow: 0px 0px #888888;
    transition: transform 300ms ease-in-out;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 3px 8px #888888;
}

a.card:hover > div.card-body > h5.card-title{
    color: rgb(0, 153, 255);
}

.pulse{
    -webkit-animation: pulse 3s ease-in;
    -moz-animation: pulse 3s ease-in;
     animation: pulse 3s ease-in;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      opacity: 0.5;
   }
   25% {
      -webkit-transform: scale(1.35);
      opacity: 0.75;
   }
   50% {
      -webkit-transform: scale(1.7);
      opacity: 1.0;
   }
   75% {
      -webkit-transform: scale(2.05);
      opacity: 0.75;
   }
   100% {
      -webkit-transform: scale(2.4);
      opacity: 0.5;
   }
  }