#timetext{
  display: block;
  
}

.bars{
  display: flex;
  font-size: 40px;
  color: white;
  text-align: left;
}

.quote-display {
  margin: 1em;
  
}

.quote-input:focus {
  border-color: black;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
  text-decoration: underline;
}   

.input-field{
  font-size: 22px;
  text-align: justify;
  word-break: break-all;
  height: 300px;
}

.inputbox{
  
  padding: 35px;
}

.innertext{
  color: white;
  font-size: xx-large;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
}

#score{
  font-size: 12px;
  height: auto;
  padding: 20px;
  border: 2px solid black;
  font-weight: bold;
  background-color: gold;
  font-size: large;
  display: none;
}